<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${nome}"></title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<header>
    <nav>
        <h1 id="title-header">
            <a href="#section-sobre" th:text="${nome}"></a>
        </h1>

        <div class="nav-infos">
            <a class="button-yellow" href="#section-experiencia" th:text="${experiencia}"></a>
            <a class="button-yellow" href="#section-formacao" th:text="${formacao}"></a>
            <a class="button-yellow" href="#section-contato" th:text="${contato}"></a>
        </div>
    </nav>
</header>

<section id="section-sobre">

    <img id="img-vinicius" src="assets/vinicius.svg" alt="imagem de Vinicius">

    <div class="div-text">

        <h1 id="title-sobre" th:text="${tituloSobre}"></h1>

        <div id="div-cidade">
            <p th:text="${infoSobre}"></p>
            <img id="img-cidade" src="assets/icon-city.svg" alt="icone de cidade">
        </div>

    </div>
</section>

<section id="section-experiencia">

    <img id="img-experiencia" src="assets/img-experiencia.jpg">

    <div id="div-text-experiencia">
        <h1 class="title-experiencia" th:text="${experiencia}"></h1>
        <p class="p-experiencia" th:text="${paragrafoExperiencia1}"></p>

        <div id="div-click-aqui">
            <p class="p-experiencia" th:text="${paragrafoExperiencia2}"></p>
            <a id="button-click-aqui" href="https://github.com/Vinicius-Souza-Araujo" target="_blank" th:text="${clicandoAqui}"></a>
        </div>
    </div>
</section>


<section id="section-formacao">

    <h1 id="title-formacao" th:text="${formacao}"></h1>

    <div id="cards-formacao">



        <div class="card-formacao">
            <div class="div-text-formacao">
                <p class="p-tipo-curso" th:text="${tecnologo}"></p>
                <h1 class="title-curso" th:text="${ADS}"></h1>
                <p class="p-instituicao" th:text="${senac}"></p>
                <p class="p-periodo" th:text="${cursando}"></p>
            </div>

            <div class="tecnologias">
                <p th:text="${html}"></p>
                <p th:text="${css}"></p>
                <p th:text="${javascript}"></p>
                <p th:text="${reactJs}"></p>
                <p th:text="${reactNative}"></p>
                <p th:text="${java}"></p>
                <p th:text="${mysql}"></p>
            </div>

        </div>

        <div class="card-formacao">
            <div class="div-text-formacao">
                <p class="p-tipo-curso" th:text="${tecnico}"></p>
                <h1 class="title-curso" th:text="${DS}"></h1>
                <p class="p-instituicao" th:text="${senai}"></p>
                <p class="p-periodo" th:text="${dataFinalSenai}"></p>
            </div>

            <div class="tecnologias">
                <p th:text="${html}"></p>
                <p th:text="${css}"></p>
                <p th:text="${javascript}"></p>
                <p th:text="${reactJs}"></p>
                <p th:text="${reactNative}"></p>
                <p th:text="${nodeJs}"></p>
                <p th:text="${mysql}"></p>
            </div>


        </div>

        <div class="card-formacao">
            <div class="div-text-formacao">
                <p class="p-tipo-curso" th:text="${extensao}"></p>
                <h1 class="title-curso" th:text="${Academia}"></h1>
                <p class="p-instituicao" th:text="${UFN}"></p>
                <p class="p-periodo" th:text="${dataFinalAcademia}"></p>
            </div>

            <div class="tecnologias">
                <p th:text="${html}"></p>
                <p th:text="${css}"></p>
                <p th:text="${javascript}"></p>
                <p th:text="${aspNetMVC}"></p>
                <p th:text="${aspNetApi}"></p>
                <p th:text="${entityFramework}"></p>
                <p th:text="${sqlServer}"></p>
            </div>


        </div>

        <div class="card-formacao">
            <div class="div-text-formacao">
                <p class="p-tipo-curso" th:text="${bootcamp}"></p>
                <h1 class="title-curso" th:text="${AcademiaInfra}"></h1>
                <p class="p-instituicao" th:text="${avanade}"></p>
                <p class="p-periodo" th:text="${dataFinalAcademiaInfra}"></p>
            </div>

            <div class="tecnologias">
                <p th:text="${fieldServices}"></p>
                <p th:text="${asset}"></p>
                <p th:text="${mobilidade}"></p>
                <p th:text="${workplace}"></p>

            </div>


        </div>
    </div>




</section>

<section id="section-contato">
    <h1 id="title-contato" th:text="${contato}"></h1>
    <div id="div-contato">
        <h2 id="title-info" th:text="${info}"></h2>
        <ul>
            <li th:text="${email}"></li>
            <li th:text="${telefone}"></li>
            <li th:text="${telefone}"></li>
            <div id="buttons-info">
                <li><a class="button" href="https://www.linkedin.com/in/vinicius-souza-064531210/" target="_blank" th:text="${linkedin}"></a></li>
                <li><a class="button" href="https://github.com/Vinicius-Souza-Araujo" target="_blank" th:text="${github}"></a></li>
            </div>
        </ul>

    </div>
</section>

<footer>
    <p th:text="${nome}"></p>
    <p th:text="${paragrafoFooter}"></p>
</footer>
</body>
</html>